/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*PERSONALIZADOS*/

h1, h2, h3, h4, h5, h6
{
	line-height: 1.5em;
}

/*Formato para el cuerpo de la página*/
body{
	/*inicializa los márgenes en cero*/
	margin: 0;
	/*inicializa el tamaño de la fuente en el predeterminado del navegador*/
	font: 100% Helvetica, Verdana, Geneva, Arial, sans-serif;
	/*determina el espaciado de línea*/
	line-height: 1.5em;
}

/*reglas para la cabecera*/
header
{
	/*color de fondo*/
	background-color: #1e5799;
	/*altura de la cabecera Top*/
	height: 140px;
	/*espaciado internoi de la cabecera*/
	padding: 20px 0;
}
header h1
{
	/*tamaño de la fuente, 3em equivale 3 veces el tamaño de la fuente predeterminada del navegador*/
	font-size: 3em;
	/*color del título:blanco*/
	color: white;
	/*negrita*/
	font-weight: bold;
	/*márgenes superior e inferior : 0 e izquierdo y derecho 40px*/
	margin: 0 40px;
}

/*reglas para la barra de menú superior */
nav
{
	/*ancho de la barra de menú:100%*/
	width: 100%;
	/*color de fondo de la barra de menú*/
	background-color: #f2eb30;
}
nav ul
{
	/*quitar las viñetas de la lista desordenada*/
	list-style: none;
	/*quita la identación de la lista desordenada*/
	padding: 0;
}
nav ul li
{
	/*coloca el menú en vertical*/
	display: inline-block;
	/*margen de cada opción de menú*/
	margin: 20px;
}
nav ul li a
{
	/*color de los hipervínculos del menú*/
	color: #1e5799;
}

a
{	
	/*quita el subrayado de los hipervínculos*/
	text-decoration: none;
	/*coloca los hipervínculos en negrita*/
	font-weight: bold;
}

/*reglas para las secciones*/
section
{
	/*ancho de la sección a 2/3 del ancho total*/
	width: 66.66%;
	/*coloca las secciones en línea para que todo el diseño flote fluídamente */
	display: inline-block;
	/*alineación vertical hacia el tope, si no se coloca los elementos con menos altura se colocan en la base*/
	vertical-align: top;
}
article
{
	/*color de fondo de los artículos*/
	background-color: #ccc;
	/*borde de los artículos fino, línea sólida y color gris*/
	border: thin solid #aaa;

	/*
	bordes redondeados para
	webkit: chrome y safari
	moz: Mozilla Firefox
	ms: Internet Explorer
	o: Opera Browser
	*/
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;

	/*margen de los artículos*/
	margin: 2%;
}


/*formato que se aplica tanto para los títulos y los parrafos*/
article h2, article p
{
	/*margen común*/
	margin: 20px;
}
article h2
{
	/*tamaño de texto del encabezado del artículo*/
	font-size: 2em;
}

/*formato para la barra lateral*/
aside
{
	/*alineación de texto*/
	text-align: center;
	/*color de fondo*/
	background-color: #ddd;
	/*ancho de la barra lateral*/
	width: 33.33%;
	
	/*coloca la barra lateral en línea para que todo el diseño flote fluídamente */
	display: inline-block;
	
	/*alineación vertical hacia el tope, si no se coloca los elementos con menos altura se colocan en la base*/
	vertical-align: top;
}
/*menú de la barra lateral*/
aside nav
{
	/*color de fondo*/
	background-color: #ddd;
}
aside nav ul li
{
	/*coloca las opciones del menú en vertical*/
	display: block;
	/*margen del artículo*/
	margin: 30px;
}


/*formato para el pie de página*/
footer
{
	/*ancho del 100%*/
	width: 100%;
	/*alineación del texto*/
	text-align: center;
	/*color de fondo*/
	background-color: #a90329;
	/*espaciado interno del pie de página
	20px en la parte superior y cero en el resto de los lados*/
	padding: 20px 0 0 0;
}
/*título del pie de página*/
footer h2
{
	/*color de la fuente*/
	color: white;
	/*tamaño de la fuente de 2 veces
	el tamaño predeterminado del navegador*/
	font-size: 2em;
	/*márgen inferior*/
	margin-bottom: 20px;
}

/*formato que inicializan
las imágenes para que sean
adaptables a cualquier resolución*/
img {
	/*tamaño máximo de imágen*/
	max-width: 100%;
	/*altura automática*/
	height: auto;
}


/*media query que hace que se acomoden 
automáticamente la sección y la barra lateral
hagan pruebas de cambiar despacio el tamaño
de la pantalla y se darán cuenta que al
llegar a 720px cambia la disposición 
automáticamente*/
@media only screen and (max-width : 720px) {
	section, aside
	{
	/*cambia el ancho al 100%*/
		width: 100%;
	}
}

/*media query que hace que se acomoden 
automáticamente la sección y la barra lateral
hagan pruebas de cambiar despacio el tamaño
de la pantalla y se darán cuenta que al
llegar a 400px cambia la disposición 
automáticamente*/
@media only screen and (max-width : 400px) {
	header
	{
		text-align: center;
	}
	nav
	{
		text-align: center;
	}
	nav ul li
	{
		/*coloca el menú en horizontal*/
		display: block;

		/*margen de cada opción de menú*/
		margin: 5px;
	}
}